
{% extends 'plantilla.html' %}

{% block contenido %}
            

<h1>Página Estudiantes</h1>

<br>
<br>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Curso</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Ingeniería de Software Avanzada</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Programación Orientada a Objetos</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Carlos</td>
        <td>Cifuentes</td>
        <td>Ingeniería de Software Avanzada</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Deiviy</td>
        <td>Castañeda</td>
        <td>Ingeniería de Software Avanzada</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Jahir</td>
        <td>Saavedra</td>
        <td>Ingeniería de Software Avanzada</td>
      </tr>
    </tbody>
  </table>

{% endblock %}