
{% extends 'plantilla.html' %}

{% block contenido %}
            

<br><br><br><h1>Ejemplo Web con el Framework Flask de Python</h1>

<h2>Uniminuto</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Logotipo_de_la_Corporaci%C3%B3n_Universitaria_Minuto_de_Dios.svg/1200px-Logotipo_de_la_Corporaci%C3%B3n_Universitaria_Minuto_de_Dios.svg.png" width="200px" class="rounded float-end" alt="...">

{% endblock %}